@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #ddd;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 900;
}

.canvas {
  max-width: 1000px;
  background: #fff;
  border: 1px solid #000;
  font-weight: 300;
}

.bar:hover {
  fill: #8963BA;
}

#tooltip {
  background: orange;
  border: 0.2em solid orangered;
  line-height: 0.1em;
  font-weight: 400;
  padding: 0.1em 0.8em;
}